

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<section>
						<header>
						  <h2>Tables</h2>
						</header>
						<table>
							<h2>HTML Table</h2>

							<table>
							<tr>
								<th>Entity1</th>
								<th>Entity2</th>
								<th>Entity3</th>
							</tr>
							<tr>
								<td>Attribute1</td>
								<td>Attribute2</td>
								<td>Attribute3</td>
							</tr>
							<tr>
								<td>Attribute4</td>
								<td>Attribute5</td>
								<td>Attribute6</td>
							</tr>
							<tr>
								<td>Attribute7</td>
								<td>Attribute8</td>
								<td>Attribute9</td>
							</tr>
							<tr>
								<td>Attribute10</td>
								<td>Attribute11</td>
								<td>Attribute12</td>
							</tr>
							<tr>
								<td>Attribute13</td>
								<td>Attribute14</td>
								<td>Attribute15</td>
							</tr>
							<tr>
								<td>Attribute16</td>
								<td>Attribute17</td>
								<td>Attribute18</td>
							</tr>
							</table>
							
				  
						<p>These tables consist of two HTML tables that must contain a minimum of 3 rows and 3 columns and must make use of the following elements / properties:
							caption
							head,tbody,tfoot
							th, td, tr
							the "rowspan" property and the "colspan" property
							</p>
					  </section>

					  
					  <section>
						<h2>Images</h2>
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder_in_halfpipe">
						<p></p>
						<img src="http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcRiULU6xp8Ls7qSNmipLUuaC9BMdy_8j_vvz6KfXTpoaRusojsRb0x2hBNdmeZrCwPzuNflBFvgz1a2yrk" alt="Cristano Ronaldo">
						<p></p>
						<img src="https://images.theconversation.com/files/394/original/See_Explanation._Clicking_on_the_picture_will_download_the_highest_resolution_version_available.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="Universe">
					  </section>
					  <p>This is photo section. Here you can se three different size photos</p>
					  <section>
						<h2>Audio</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
						</audio>
						<p>This is audio section. You can click play button to listen to the audio. The audio time is 27 seconds</p>
					  </section>
					  <section>
						<h2>Video</h2>
						<video controls>
						  <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
						</video>
						<p>This is video section, You can click play button to watch to the video.The video time is 30 seconds</p>
					  </section>

				</main>
			</div>
		</div>
